/* vietnamese */
@font-face {
    font-family: 'Saira Extra Condensed';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: local('Saira ExtraCondensed Thin'), local('SairaExtraCondensed-Thin'), url(../fonts/saira-extracondensed-thin-vietnamese-normal.woff2) format('woff2'), url(https://fonts.gstatic.com/s/sairaextracondensed/v4/-nFsOHYr-vcC7h8MklGBkrvmUG9rbpkisrTri3j5_C9csw.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* vietnamese */
@font-face {
    font-family: 'Saira Extra Condensed';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: local('Saira ExtraCondensed ExtraLight'), local('SairaExtraCondensed-ExtraLight'), url(../fonts/saira-extracondensed-extralight-vietnamese-normal.woff2) format('woff2'), url(https://fonts.gstatic.com/s/sairaextracondensed/v4/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrJ2nh1Aphim8.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* vietnamese */
@font-face {
    font-family: 'Saira Extra Condensed';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Saira ExtraCondensed Light'), local('SairaExtraCondensed-Light'), url(../fonts/saira-extracondensed-light-vietnamese-normal.woff2) format('woff2'), url(https://fonts.gstatic.com/s/sairaextracondensed/v4/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrQ2rh1Aphim8.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* vietnamese */
@font-face {
    font-family: 'Saira Extra Condensed';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Saira ExtraCondensed Regular'), local('SairaExtraCondensed-Regular'), url(../fonts/saira-extracondensed-regular-vietnamese-normal.woff2) format('woff2'), url(https://fonts.gstatic.com/s/sairaextracondensed/v4/-nFiOHYr-vcC7h8MklGBkrvmUG9rbpkisrTj50j05Cs.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* vietnamese */
@font-face {
    font-family: 'Saira Extra Condensed';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Saira ExtraCondensed Medium'), local('SairaExtraCondensed-Medium'), url(../fonts/saira-extracondensed-medium-vietnamese-normal.woff2) format('woff2'), url(https://fonts.gstatic.com/s/sairaextracondensed/v4/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrG2vh1Aphim8.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* vietnamese */
@font-face {
    font-family: 'Saira Extra Condensed';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Saira ExtraCondensed SemiBold'), local('SairaExtraCondensed-SemiBold'), url(../fonts/saira-extracondensed-semibold-vietnamese-normal.woff2) format('woff2'), url(https://fonts.gstatic.com/s/sairaextracondensed/v4/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrN2zh1Aphim8.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* vietnamese */
@font-face {
    font-family: 'Saira Extra Condensed';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Saira ExtraCondensed Bold'), local('SairaExtraCondensed-Bold'), url(../fonts/saira-extracondensed-bold-vietnamese-normal.woff2) format('woff2'), url(https://fonts.gstatic.com/s/sairaextracondensed/v4/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrU23h1Aphim8.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* vietnamese */
@font-face {
    font-family: 'Saira Extra Condensed';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local('Saira ExtraCondensed ExtraBold'), local('SairaExtraCondensed-ExtraBold'), url(../fonts/saira-extracondensed-extrabold-vietnamese-normal.woff2) format('woff2'), url(https://fonts.gstatic.com/s/sairaextracondensed/v4/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrT27h1Aphim8.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* vietnamese */
@font-face {
    font-family: 'Saira Extra Condensed';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local('Saira ExtraCondensed Black'), local('SairaExtraCondensed-Black'), url(../fonts/saira-extracondensed-black-vietnamese-normal.woff2) format('woff2'), url(https://fonts.gstatic.com/s/sairaextracondensed/v4/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTra2_h1Aphim8.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
