/* latin */
@font-face {
    font-family: 'Saira Extra Condensed';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: local('Saira ExtraCondensed Thin'), local('SairaExtraCondensed-Thin'), url(../fonts/saira-extracondensed-thin-latin-normal.woff2) format('woff2'), url(https://fonts.gstatic.com/s/sairaextracondensed/v4/-nFsOHYr-vcC7h8MklGBkrvmUG9rbpkisrTri3j2_C8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'Saira Extra Condensed';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: local('Saira ExtraCondensed ExtraLight'), local('SairaExtraCondensed-ExtraLight'), url(../fonts/saira-extracondensed-extralight-latin-normal.woff2) format('woff2'), url(https://fonts.gstatic.com/s/sairaextracondensed/v4/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrJ2nh2wph.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'Saira Extra Condensed';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Saira ExtraCondensed Light'), local('SairaExtraCondensed-Light'), url(../fonts/saira-extracondensed-light-latin-normal.woff2) format('woff2'), url(https://fonts.gstatic.com/s/sairaextracondensed/v4/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrQ2rh2wph.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'Saira Extra Condensed';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Saira ExtraCondensed Regular'), local('SairaExtraCondensed-Regular'), url(../fonts/saira-extracondensed-regular-latin-normal.woff2) format('woff2'), url(https://fonts.gstatic.com/s/sairaextracondensed/v4/-nFiOHYr-vcC7h8MklGBkrvmUG9rbpkisrTj6Ej0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'Saira Extra Condensed';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Saira ExtraCondensed Medium'), local('SairaExtraCondensed-Medium'), url(../fonts/saira-extracondensed-medium-latin-normal.woff2) format('woff2'), url(https://fonts.gstatic.com/s/sairaextracondensed/v4/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrG2vh2wph.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'Saira Extra Condensed';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Saira ExtraCondensed SemiBold'), local('SairaExtraCondensed-SemiBold'), url(../fonts/saira-extracondensed-semibold-latin-normal.woff2) format('woff2'), url(https://fonts.gstatic.com/s/sairaextracondensed/v4/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrN2zh2wph.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'Saira Extra Condensed';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Saira ExtraCondensed Bold'), local('SairaExtraCondensed-Bold'), url(../fonts/saira-extracondensed-bold-latin-normal.woff2) format('woff2'), url(https://fonts.gstatic.com/s/sairaextracondensed/v4/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrU23h2wph.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'Saira Extra Condensed';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local('Saira ExtraCondensed ExtraBold'), local('SairaExtraCondensed-ExtraBold'), url(../fonts/saira-extracondensed-extrabold-latin-normal.woff2) format('woff2'), url(https://fonts.gstatic.com/s/sairaextracondensed/v4/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrT27h2wph.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'Saira Extra Condensed';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local('Saira ExtraCondensed Black'), local('SairaExtraCondensed-Black'), url(../fonts/saira-extracondensed-black-latin-normal.woff2) format('woff2'), url(https://fonts.gstatic.com/s/sairaextracondensed/v4/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTra2_h2wph.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
