/* latin-ext */
@font-face {
    font-family: 'Saira Condensed';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: local('Saira Condensed Thin'), local('SairaCondensed-Thin'), url(../fonts/saira-condensed-thin-latin-ext-normal.woff2) format('woff2'), url(https://fonts.gstatic.com/s/sairacondensed/v4/EJRMQgErUN8XuHNEtX81i9TmEkrnwdtJ0Iiirw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin-ext */
@font-face {
    font-family: 'Saira Condensed';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: local('Saira Condensed ExtraLight'), local('SairaCondensed-ExtraLight'), url(../fonts/saira-condensed-extralight-latin-ext-normal.woff2) format('woff2'), url(https://fonts.gstatic.com/s/sairacondensed/v4/EJRLQgErUN8XuHNEtX81i9TmEkrnbcpQ-a2fli0.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin-ext */
@font-face {
    font-family: 'Saira Condensed';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Saira Condensed Light'), local('SairaCondensed-Light'), url(../fonts/saira-condensed-light-latin-ext-normal.woff2) format('woff2'), url(https://fonts.gstatic.com/s/sairacondensed/v4/EJRLQgErUN8XuHNEtX81i9TmEkrnCclQ-a2fli0.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin-ext */
@font-face {
    font-family: 'Saira Condensed';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Saira Condensed Regular'), local('SairaCondensed-Regular'), url(../fonts/saira-condensed-regular-latin-ext-normal.woff2) format('woff2'), url(https://fonts.gstatic.com/s/sairacondensed/v4/EJROQgErUN8XuHNEtX81i9TmEkrvrOtFyIw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin-ext */
@font-face {
    font-family: 'Saira Condensed';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Saira Condensed Medium'), local('SairaCondensed-Medium'), url(../fonts/saira-condensed-medium-latin-ext-normal.woff2) format('woff2'), url(https://fonts.gstatic.com/s/sairacondensed/v4/EJRLQgErUN8XuHNEtX81i9TmEkrnUchQ-a2fli0.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin-ext */
@font-face {
    font-family: 'Saira Condensed';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Saira Condensed SemiBold'), local('SairaCondensed-SemiBold'), url(../fonts/saira-condensed-semibold-latin-ext-normal.woff2) format('woff2'), url(https://fonts.gstatic.com/s/sairacondensed/v4/EJRLQgErUN8XuHNEtX81i9TmEkrnfc9Q-a2fli0.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin-ext */
@font-face {
    font-family: 'Saira Condensed';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Saira Condensed Bold'), local('SairaCondensed-Bold'), url(../fonts/saira-condensed-bold-latin-ext-normal.woff2) format('woff2'), url(https://fonts.gstatic.com/s/sairacondensed/v4/EJRLQgErUN8XuHNEtX81i9TmEkrnGc5Q-a2fli0.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin-ext */
@font-face {
    font-family: 'Saira Condensed';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local('Saira Condensed ExtraBold'), local('SairaCondensed-ExtraBold'), url(../fonts/saira-condensed-extrabold-latin-ext-normal.woff2) format('woff2'), url(https://fonts.gstatic.com/s/sairacondensed/v4/EJRLQgErUN8XuHNEtX81i9TmEkrnBc1Q-a2fli0.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin-ext */
@font-face {
    font-family: 'Saira Condensed';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local('Saira Condensed Black'), local('SairaCondensed-Black'), url(../fonts/saira-condensed-black-latin-ext-normal.woff2) format('woff2'), url(https://fonts.gstatic.com/s/sairacondensed/v4/EJRLQgErUN8XuHNEtX81i9TmEkrnIcxQ-a2fli0.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
