/* vietnamese */
@font-face {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Saira Bold'), local('Saira-Bold'), url(../fonts/saira-bold-vietnamese-normal.woff2) format('woff2'), url(https://fonts.gstatic.com/s/saira/v3/mem9Ya2wxmKQyNGcaIYdcrgmVA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
