/* vietnamese */
@font-face {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: local('Saira Thin'), local('Saira-Thin'), url(../fonts/saira-thin-vietnamese-normal.woff2) format('woff2'), url(https://fonts.gstatic.com/s/saira/v3/mem-Ya2wxmKQyNFEfZ41V4Uf.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* vietnamese */
@font-face {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: local('Saira ExtraLight'), local('Saira-ExtraLight'), url(../fonts/saira-extralight-vietnamese-normal.woff2) format('woff2'), url(https://fonts.gstatic.com/s/saira/v3/mem9Ya2wxmKQyNHobIYdcrgmVA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* vietnamese */
@font-face {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Saira Light'), local('Saira-Light'), url(../fonts/saira-light-vietnamese-normal.woff2) format('woff2'), url(https://fonts.gstatic.com/s/saira/v3/mem9Ya2wxmKQyNGMb4YdcrgmVA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* vietnamese */
@font-face {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Saira Regular'), local('Saira-Regular'), url(../fonts/saira-regular-vietnamese-normal.woff2) format('woff2'), url(https://fonts.gstatic.com/s/saira/v3/memwYa2wxmKQyNkoTZMtUw.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* vietnamese */
@font-face {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Saira Medium'), local('Saira-Medium'), url(../fonts/saira-medium-vietnamese-normal.woff2) format('woff2'), url(https://fonts.gstatic.com/s/saira/v3/mem9Ya2wxmKQyNHUboYdcrgmVA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* vietnamese */
@font-face {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Saira SemiBold'), local('Saira-SemiBold'), url(../fonts/saira-semibold-vietnamese-normal.woff2) format('woff2'), url(https://fonts.gstatic.com/s/saira/v3/mem9Ya2wxmKQyNH4aYYdcrgmVA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* vietnamese */
@font-face {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Saira Bold'), local('Saira-Bold'), url(../fonts/saira-bold-vietnamese-normal.woff2) format('woff2'), url(https://fonts.gstatic.com/s/saira/v3/mem9Ya2wxmKQyNGcaIYdcrgmVA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* vietnamese */
@font-face {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local('Saira ExtraBold'), local('Saira-ExtraBold'), url(../fonts/saira-extrabold-vietnamese-normal.woff2) format('woff2'), url(https://fonts.gstatic.com/s/saira/v3/mem9Ya2wxmKQyNGAa4YdcrgmVA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* vietnamese */
@font-face {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local('Saira Black'), local('Saira-Black'), url(../fonts/saira-black-vietnamese-normal.woff2) format('woff2'), url(https://fonts.gstatic.com/s/saira/v3/mem9Ya2wxmKQyNGkaoYdcrgmVA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
