/* vietnamese */
@font-face {
    font-family: 'Saira Semi Condensed';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: local('Saira SemiCondensed Thin'), local('SairaSemiCondensed-Thin'), url(../fonts/saira-semicondensed-thin-vietnamese-normal.woff2) format('woff2'), url(https://fonts.gstatic.com/s/sairasemicondensed/v4/U9MN6c-2-nnJkHxyCjRcnMHcWVWV1cWRRXdvWOs2rET-.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
