@font-face {
    font-family: 'League Mono Bold';
    src: url('webfont.eot'); /* IE9 Compat Modes */
    src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

x100    Extra Light or Ultra Light
x?200    Light or Thin
x300 (thin)    Book or Demi
x400    Normal or Regular
x500    Medium
x600    Semibold, Demibold
x700    Bold
x800    Black, Extra Bold or Heavy
900    Extra Black, Fat, Poster or Ultra Black